#gameWindow
{
    background: lightblue;
    position: absolute;
    left: 50%;
    width: 600px;
    height: 800px;
    margin-left: -300px;
}

#bird
{
    border: 2px solid black;
    background: white;
    position: absolute;
    margin-top: 300px;
}

.lPipe
{
    border: 2px solid  red;
    position: absolute;
}

.hPipe
{
    border: 2px solid red;
    position: absolute;
}

