#gameWindow
{
    background-image:url(Images/background.png);
    background-position: bottom;
    position: absolute;
    left: 50%;
    width: 600px;
    height: 800px;
    margin-left: -300px;
}


#bird
{
    position: absolute;
    background-image: url(Images/Bird.png);
}


#score
{
    position: absolute;
    user-select: none;
    width: 150px;
    height: 50px;
    left: 50%;
    margin-left: -75px;
    font-size: 100px;
    text-align: center;
}


.lPipe
{
    position: absolute;
    background-image:url(Images/BottomPipe.png);
}


.hPipe
{
    position: absolute;
    background-image:url(Images/TopPipe.png);
    background-position: bottom;


}


#deathScreen
{
    position: absolute;
    border: 2px solid black;
    background: rgb(160, 145, 115);
    width: 400px;
    height: 600px;
    left: 50%;
    margin-left: -200px;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}


#gameScore
{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 50%;
    margin-left: -150px;
    margin-top: 50px;
    font-size: 150px;
    text-align: center;
}


#restart
{
    border: 3px solid black;
    background: red;
    position: absolute;
    width: 175px;
    height: 38px;
    left: 50%;
    margin-left: -87.5px;
    margin-top: 275px;
    font-size: 35px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}


#cover1{
    position: absolute;
    left:0;
    width:30%;
    height:100%;
    background: white;
    z-index: 10;
}


#cover2{
    position: absolute;
    right:0;
    width:30%;
    height:100%;
    background: white;
    z-index: 10;
}


